.user-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.user-profile-header h2 {
    font-size: 24px;
    color: #343a40;
}

.user-details {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.user-info {
    margin-bottom: 20px;
}

.user-info p {
    margin: 5px 0;
}

.user-list-container {
    margin-top: 20px;
}

.user-category {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    background-color: #f1f3f5;
}

.user-category h3 {
    font-size: 20px;
    color: #495057;
    margin-bottom: 10px;
}

.user-category ul {
    list-style-type: none;
    padding: 0;
}

.user-category ul li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #ffffff;
}

.book-name {
    font-weight: bold;
    color: #007bff;
}
  
button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.review-textarea {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle; 
  }
  
  .review-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle; 
  }
  
  .update-button,
  .cancel-button {
    margin-top: 5px;
    margin-left: 5px; 
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-button:hover,
  .cancel-button:hover {
    background-color: #0056b3;
  }
  